name: My First GitHub Actions

on: 
  workflow_dispatch:
     inputs:
      environment:     # name of the input, you can give multiple inputs
        description: "Deploy target"    # description is for users to understand what to enter
        required: true   # it is mndatory value that is why required is true
        default: "staging"   # otherwise if value is not entered then it takes 'staging as default value'
# [push]

jobs:
  build:
    runs-on: ubuntu-latest
     

# Matrix strategy helps you run the entire workflow parallely on different runners with different versions or OS. Duplicate the entire job once per value. Matrix creates multiple independent VMs, not loops.Matrix is how real CI systems test multiple environments safely. “Matrix strategy in GitHub Actions allows running the same job across multiple configurations in parallel, such as different language versions or operating systems.”
#| Job Run | Python Version |
#| ------- | -------------- |
#| Run #1  | 3.8            |
#| Run #2  | 3.9            |

    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest

    - name: Run tests
      run: |
        cd src
        python -m pytest addition.py
